*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("kepregeny_kepek/hesteg_vagany másolata.jpg");
    width: 100%;
}
main,nav,article,footer{
    display: flex;
}
main{
    flex-direction: column;
    justify-content: center;
    background: #fcfcfc;
    width: 60%;
    margin: auto;  
    text-align: center;
  }
article{
    align-content: flex-start;
    justify-content: space-around;
  }
  header img{
    width: 100%;
  }
  img{
    width: 100%;
  }
  article{
    align-content: flex-start;
    justify-content: space-around;
  }
  nav, nav ul{
    padding: 10px;
    background-color: orange;
    flex-direction: row;
    justify-content: space-between;
}
nav li{
    list-style: none;
    padding-right: 20px;
}
a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16pt;
}
a::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
a:hover::before {
  transform: scaleX(1);
}

footer{
  position: relative;
  background-color: orange;
  font-size: 30px;
  align-content: flex-start;
}
footer::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
footer:hover::before{
  transform: scaleX(1);
}
.art{
  display: flex;
  flex-wrap: wrap;
}
ul{
  display: flex;
  margin-right: 20px;
}